/* CENTURY GOTHIC */
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/century-gothic/CenturyGothic.eot');
    src: url('../fonts/century-gothic/CenturyGothic.eot') format('embedded-opentype'),
         url('../fonts/century-gothic/CenturyGothic.woff2') format('woff2'),
         url('../fonts/century-gothic/CenturyGothic.woff') format('woff'),
         url('../fonts/century-gothic/CenturyGothic.ttf') format('truetype'),
         url('../fonts/century-gothic/CenturyGothic.svg#CenturyGothic') format('svg');
}

/* MATERIAL ICONS */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/mat_icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

